CompileFlags:
  Add:
    - -xc
    - -std=c23
    - -Wall
    - -Wextra
    - -Werror
    - -I./include
    - -I../include
    - -I./vendor/tree-sitter/include
    - -I./vendor/tree-sitter-css/include
